################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OracleObjectDatabase/obj/Debug
/OracleObjectDatabase.DAL/obj/Debug
